.App {
  display: flex;
  flex-direction: row;
}

.content {
  margin-left: 220px; /* Juster denne bredde i forhold til din sidebar */
  padding: 20px;
  background-color: #1e1e1e;
  color: #f0f0f0;
  min-height: 100vh;
  flex-grow: 1;
}
